{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %} 
<div class="row justify-content-center">
    <div class="col-8">
        <h2 class="display-2 text-center">Register</h2>

        <form method="post">

            {{form.hidden_tag()}}

            {% for field in form if field.widget.input_type != 'hidden' %}

            <p>
                {{field.label}}
                {{field(class_="form-control")}}

                {% for error in field.errors %}
                <span class="form-text text-danger">{{ error }}</span>
                {% endfor %}
            </p>

            {% endfor %}
            <div class="row justify-content-center">
                <button class="btn btn-lg btn-info" type="submit">Submit!</button>                
            </div>
        </form>
    </div>
</div>



{% endblock %}